.table-responsive          { overflow: scroll; }
.table-responsive thead th { 
    position: sticky; 
    top: 0; 
    background-color: #333;
    color: #fff;
}

.table-responsive thead th:hover { 
    cursor: pointer;
}

.table-responsive tfoot th { 
    position: sticky; 
    top: 0; 
    background-color: #333;
    color: #fff;
}

/* Just common table stuff. Really. */
table  { border-collapse: initial; width: 100%; }
th, td { padding: 8px 16px; }
th     { background:#eee; }

tr.table-responsive thead td {
    border-left: 0px solid;
    border-right: 0px solid;
}


.table-responsive {
    overflow: scroll!important;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: right;
}

.table-responsive input {
    margin: 20px;
    
}


.sr-only {
    width: auto!important;
    overflow: visible!important;
    position: initial!important;    
    margin: 0 10px 0 10px!important;
}

.tableholder {
    width: 97%;
    margin-left: 2%;
}

.form-inline {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 50px;
}

.form-inline .form-group {
    display: flex;
    justify-content: space-between;
    
}

.form-inline .form-control {
    width: 200px!important;
}

.form-inline .btn-danger {
    margin-left: 5px;
}

.proformared a{
    color: red!important;
}

.proformablack a{
    color: black!important;
}

.suma {
    background: 
#333 !important;
color:
    white; 
}

#myTable2 th {
    font-weight: 200;
}

@media only screen and (max-width: 768px) {
    .table-responsive {
        margin: 0;
        max-height: 250px;
    }

    .form-inline {
        display: flex;
        flex-direction: column!important;
        margin-top: 0;
    
    }

    .form-inline .form-group {
        width: 100%;
    }

    .form-inline .btn-danger {
        margin-left: 0;
        margin-bottom: 5px;
    }

    .tableholder .btn-danger{
        width: 99%;
        margin: 1px;
    }
}